body{
      background: linear-gradient(to bottom, #ff3300 0%, #ff99cc 100%);
  }
#grad {
  background-image: linear-gradient(to right,red,yellow);
}

h1,h2,h3 {
  color: white;
  text-align: centre;
  letter-spacing: 3px;
}
p {
  font-family: verdana;
  font-size: 25px;
}
ol{
img {
  float: left;
  border-radius: 8px;
  letter-spacing: 3px
}
